.results-container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.nominate-button {
    width: 100px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

.more-button {
    width: 100px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    background-color: white;
    margin-top: 20px;
}