.navigation {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    background-color: #ff0015;
}

.nav-link {
    margin-top: 27.5px;
    margin-left: 25px;
}

.signout-link {
    margin-left: 990px;
    margin-top: 27.5px;
}