.home-container {
    margin-top: 10px;
    margin-bottom: 40px;
}

h1 {
    display: flex;
    justify-content: center;
}

.home-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searching {
    display: flex;
    flex-direction: column;
    width: 65%;
}